# unconventional js
/blueprints/*/files/
/vendor/

# compiled output
/dist/
/tmp/

# dependencies
/bower_components/
/node_modules/

# misc
/coverage/
!.*
.eslintcache

# ember-try
/.node_modules.ember-try/
/bower.json.ember-try
/package.json.ember-try

# ignoring this file created by VS Code Ember extension
/jsconfig.json

# ignoring file that is created by ember storybook
/.storybook/preview-head.html

/.env
/.eslintcache
/.eslintignore
/.gitignore
/.npmrc
/.prettierignore
/.tool-versions

