<h3>Specifying Maximum Height</h3>

<div class="row">
  <div class="col-sm-4 form-group">
    {{textarea-autosize classNames="form-control" max-height="100px" placeholder="'max-height' in pixels."}}
    <p class="help-block">
      Specify a maximum height in pixels to prevent the textarea from growing continuously; e.g
      <code>max-height="100px"</code>. This textarea will scroll once it reaches its maximum height.
    </p>
  </div>
  <div class="col-sm-8">
    {{!-- @formatter:off --}}
<pre>\{{textarea-autosize classNames="form-control" max-height="100px" placeholder="'max-height' in pixels."}}
</pre>
{{!-- @formatter:on --}}
  </div>
</div>

<hr/>
