@import "../../../../node_modules/bootswatch/spacelab/variables";

$icon-font-path: '/assets/bootstrap/'; // TODO: this should be removed once I fix the bootstrap3-sass addon
//noinspection CssUnknownTarget
@import 'ember-cli-bootstrap3-sass';
@import "../../../../node_modules/bootswatch/spacelab/bootswatch";
//noinspection CssUnknownTarget
@import "ember-cli-font-awesome-sass";

body {
  padding-top: 50px; // for the fixed navbar
  margin-bottom: 50%; // to allow scrolling beyond the end of the last example
}
