<h1><code>rows=5</code></h1>
<div>
  {{textarea-autosize rows=5}}
</div>

<h1><code>min-height="200px"</code></h1>
<div>
  {{textarea-autosize min-height="200px"}}
</div>

{{#link-to "index"}}Return To Demo List And Then Come Back Here To See `autofocus` Work{{/link-to}}