<h1><code>max-height="200px"</code></h1>
<div>
  {{textarea-autosize max-height="100px"}}
</div>
<p>
  <em>
    Press enter several times, once the textarea height grows beyond 200px it will begin to scroll instead of grow!
  </em>
</p>

{{#link-to "index"}}Return To Demo List And Then Come Back Here To See `autofocus` Work{{/link-to}}