<h1><code>rows=5</code></h1>
<div>
  <TextareaAutosize @rows={{5}} />
</div>

<h1><code>min-height="200px"</code></h1>
<div>
  <TextareaAutosize @min-height="200px" />
</div>

<LinkTo @route="index">Return To Demo List And Then Come Back Here To See `autofocus` Work</LinkTo>