<h1>Demo</h1>

<ul>
  <li>
    {{#link-to "demo-min-height"}}
      Demo Of Minimum Height (Mixin `autosize`)
    {{/link-to}}
  </li>
  <li>
    {{#link-to "demo-max-height"}}
      Demo Of Maximum Height (Mixin `autosize`)
    {{/link-to}}
  </li>
  <li>
    {{#link-to "demo-ctrl-enter-submits"}}
      Demo Of <kbd>CTRL</kbd>+<kbd>ENTER</kbd> Submits Form (Mixin `ctrl-enter-submits-form`)
    {{/link-to}}
  </li>
  <li>
    {{#link-to "demo-trigger-focus"}}
      Demo Of Auto-Focus Working Across Template Loads (Mixin `trigger-focus`)
    {{/link-to}}
  </li>
  <li>
    {{#link-to "demo-focus-selects-text"}}
      Demo Select Text On Focus (Mixin `focus-selects-text`)
    {{/link-to}}
  </li>
</ul>
