<section class="container">
  <p>
    This component works like a typical textarea component, e.g. bind the value property to your model. Keep in mind
    this textarea has some extra bells and whistles like fixed
    <em>auto-focus</em>,
    <em>focus-selects-text</em>, and
    <em>ctrl-enter</em>
    submits the nearest form.
  </p>
</section>

<section>
  <div class="container">
    <h3>Autofocus</h3>

    <div class="row">
      <div class="col-sm-4 form-group">
        <TextareaAutosize @autofocus={{true}} @class="form-control" @placeholder="Your cursor should be here to begin with" @value="" />
        <p class="help-block">
          This textarea's autofocus will work between transitions.
        </p>
      </div>
      <div class="col-sm-8">
        {{! @formatter:off }}
        <pre>\{{textarea-autosize autofocus=true class="form-control" placeholder="..." value="..."}}
        </pre>
        {{! @formatter:on }}
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <MinHeight />
  </div>

</section>

<section>
  <div class="container">
    <MaxHeight />
  </div>
</section>

<section>
  <div class="container">
    <CtrlEnterSubmits />
  </div>
</section>