{{#ct-section-index demoRoute="demo.index"}}
  <h3><code>\{{textarea-autosize}}</code></h3>

  <p>
    A <code>{{fa-icon "angle-left"}}textarea{{fa-icon "angle-right"}}</code> that will grow with content.
  </p>
  <ul>
    <li>
      Extends the <code>\{{text-area}}</code> from
      <a href="https://ember-cli-text-support-mixins.cybertooth.io" target="_blank">Text Support Mixins</a>
    </li>
    <li>
      Use the <code>rows</code> attribute or CSS <code>min-height</code> to set the default height of the textarea
    </li>
    <li>
      Use CSS <code>max-height</code> to restrict the grow-height of the autosize textarea
    </li>
    <li>
      Supports <kbd>CTRL+ENTER</kbd> to submit the <em>closest('form')</em>
    </li>
  </ul>

  <h3 class="mt-3">Mixins</h3>
  <p>Here's a list of tested mixins that you can mix into your components:</p>
  <ul>
    <li>
      <a
        href="https://github.com/cybertoothca/ember-cli-textarea-autosize/blob/master/addon/mixins/autosize.js"
        target="_blank">
        <code>import Autosize from "ember-cli-textarea-autosize/mixins/autosize";</code>
      </a>
    </li>
  </ul>
{{/ct-section-index}}